/*
NAVY #001f3f
BLUE #0074D9
AQUA #7FDBFF
TEAL #39CCCC
OLIVE #3D9970
GREEN #2ECC40
LIME #01FF70
YELLOW #FFDC00
ORANGE #FF851B
RED #FF4136
MAROON #85144b
FUCHSIA #F012BE
PURPLE #B10DC9
BLACK #111111
GRAY #AAAAAA
SILVER #DDDDDD
*/


.tak-board-1 {


	$x-color: #001F3F;
	$o-color: #FF851B;
	$highlight-color: #F012BE;
	$negative-space-color: white;

	$squarePaddingToTopPiece: 25%;
	$pieceEdgeThickness: 10px;
	$pieceEdgeBorder: 2px;

	.square-pieces {
		height: 1px;
	}

	.tak-square {
		border: 6px solid $negative-space-color;
		border-radius: 5px;
	}
	.tak-square.owned-by-o {
		border-color: $o-color;
	}
	.tak-square.owned-by-x {
		border-color: $x-color;
	}
	.tak-square.highlight {
		border-color: $highlight-color;
	}
	.tak-square.can-click {
		cursor: pointer;
	}

	.tak-row.even .tak-square.even {
		background-color: #DDDDDD;
	}

	.tak-row.odd .tak-square.odd {
		background-color: #DDDDDD;
	}

	.tak-piece.owned-by-o {
		background-color: $o-color;
	}
	.tak-piece.owned-by-x {
		background-color: $x-color;
	}

	.row-count-1,
	.row-count-2,
	.row-count-3,
	.row-count-4,
	.row-count-5 {
		.tak-piece {
			height: 20%;
		}
	}

	.at-least-6 {
		.tak-piece {
			flex-grow: 1;
		}
	}

	/* piece sizes */
	.tak-piece {
		border-top: 1px;
		border-bottom: 1px;
		border-left: 2px;
		border-right: 2px;

		border-style: solid;
		border-color: $negative-space-color;
	}

	.piece-holder {
		display: flex;
		flex-direction: column-reverse;
	}



	/* square sizes */
	.size-8 .tak-square {
		width: 12.5%;
		height: 12.5%;
	}
	.size-7 .tak-square {
		width: 14.285714286%;
		height: 14.285714286%;
	}
	.size-6 .tak-square {
		width: 16.666666667%;
		height: 16.666666667%;
	}
	.size-5 .tak-square {
		width: 20%;
		height: 20%;
	}
	.size-4 .tak-square {
		width: 25%;
		height: 25%;
	}
	.size-3 .tak-square {
		width: 33.333333333%;
		height: 33.333333333%;
	}

	.piece-topper {
		position: absolute;
		width: calc(100% - ($squarePaddingToTopPiece * 2));
		height: calc(100% - ($squarePaddingToTopPiece * 2));
	}
	.transparent {
		background-color: $negative-space-color;
		opacity: 0.7;
	}
	.circle .transparent {
		border-radius: 50%;
	}
	.piece-topper-border {
		position: absolute;
		width: calc(100% - ($squarePaddingToTopPiece * 2) + ($pieceEdgeBorder * 2));
		height: calc(100% - ($squarePaddingToTopPiece * 2) + ($pieceEdgeBorder * 2));
	}

	.piece-topper.owned-by-o {
		border-color: $o-color;
	}
	.piece-topper.owned-by-x {
		border-color: $x-color;
	}


	.circle {
		border-radius: 50%;
		border: $pieceEdgeThickness solid;
		left: $squarePaddingToTopPiece;
		top: $squarePaddingToTopPiece;
		margin-top: -$pieceEdgeThickness;
		margin-left: -$pieceEdgeThickness;
	}

	.circle-border {
		border-radius: 50%;
		border: calc($pieceEdgeThickness + $pieceEdgeBorder) solid $negative-space-color;
		left: calc($squarePaddingToTopPiece - $pieceEdgeBorder);
		top: calc($squarePaddingToTopPiece - $pieceEdgeBorder);
		margin-top: calc(-$pieceEdgeThickness - $pieceEdgeBorder);
		margin-left: calc(-$pieceEdgeThickness - $pieceEdgeBorder);
	}

	.square {
		border: $pieceEdgeThickness solid;
		left: $squarePaddingToTopPiece;
		top: $squarePaddingToTopPiece;
		margin-top: -$pieceEdgeThickness;
		margin-left: -$pieceEdgeThickness;
	}
	.square-border {
		border: calc($pieceEdgeThickness + $pieceEdgeBorder) solid $negative-space-color;
		left: calc($squarePaddingToTopPiece - $pieceEdgeBorder);
		top: calc($squarePaddingToTopPiece - $pieceEdgeBorder);
		margin-top: calc(-$pieceEdgeThickness - $pieceEdgeBorder);
		margin-left: calc(-$pieceEdgeThickness - $pieceEdgeBorder);
	}
}
