.display-table {
	display: table;
}
.display-table-row {
	display: table-row;
}
.display-table-cell {
	display: table-cell;
}

.width-height-100 {
	width: 100%;
	height: 100%;
}

@import './board-style-1.css'
