.display-table {
	display: table;
}
.display-table-row {
	display: table-row;
}
.display-table-cell {
	display: table-cell;
}
.display-table-footer-group {
	display: table-footer-group;
}

.width-height-100 {
	width: 100%;
	height: 100%;
}

/*
NAVY #001f3f
BLUE #0074D9
AQUA #7FDBFF
TEAL #39CCCC
OLIVE #3D9970
GREEN #2ECC40
LIME #01FF70
YELLOW #FFDC00
ORANGE #FF851B
RED #FF4136
MAROON #85144b
FUCHSIA #F012BE
PURPLE #B10DC9
BLACK #111111
GRAY #AAAAAA
SILVER #DDDDDD
*/

.tak-board-1 .square-pieces {
	height: 1px;
}

.tak-board-1 .tak-square {
	border: 6px solid white;
	border-radius: 5px;
}

.tak-board-1 .tak-square.owned-by-o {
	border-color: #FF851B;
}

.tak-board-1 .tak-square.owned-by-x {
	border-color: #001F3F;
}

.tak-board-1 .tak-row.even .tak-square.even {
	background-color: #DDDDDD;
}

.tak-board-1 .tak-row.odd .tak-square.odd {
	background-color: #DDDDDD;
}

.tak-board-1 .tak-piece.owned-by-o {
	background-color: #FF851B;
}

.tak-board-1 .tak-piece.owned-by-x {
	background-color: #001F3F;
}

.tak-board-1 .row-count-1, .tak-board-1 .row-count-2, .tak-board-1 .row-count-3, .tak-board-1 .row-count-4, .tak-board-1 .row-count-5 {
	height: 100%;
}

.tak-board-1 .row-count-1 .row, .tak-board-1 .row-count-2 .row, .tak-board-1 .row-count-3 .row, .tak-board-1 .row-count-4 .row, .tak-board-1 .row-count-5 .row {
	height: 20%;
}

.tak-board-1 .row-count-1 .square-spacer {
	height: 80%;
}

.tak-board-1 .row-count-2 .square-spacer {
	height: 60%;
}

.tak-board-1 .row-count-3 .square-spacer {
	height: 40%;
}

.tak-board-1 .row-count-4 .square-spacer {
	height: 20%;
}

.tak-board-1 .at-least-5 .square-spacer {
	display: none;
}

.tak-board-1 .at-least-6 {
	display: table;
	height: 100%;
}

.tak-board-1 .at-least-6 .tak-piece {
	display: table-row;
}

.tak-board-1 .at-least-6 .tak-piece:before {
	content: " ";
	display: table-cell;
	width: 100%;
}

/* piece sizes */

.tak-board-1 .tak-piece {
	width: 100%;
	font-size: 1px;

	/* WTF?!? */
	height: 20%;
	margin: 2px;
}

/* square sizes */

.tak-board-1 .tak-board.size-8 .tak-square {
	width: 12.5%;
	height: 12.5%;
}

.tak-board-1 .tak-board.size-7 .tak-square {
	width: 14.285714286%;
	height: 14.285714286%;
}

.tak-board-1 .tak-board.size-6 .tak-square {
	width: 16.666666667%;
	height: 16.666666667%;
}

.tak-board-1 .tak-board.size-5 .tak-square {
	width: 20%;
	height: 20%;
}

.tak-board-1 .tak-board.size-4 .tak-square {
	width: 25%;
	height: 25%;
}

.tak-board-1 .tak-board.size-3 .tak-square {
	width: 33.333333333%;
	height: 33.333333333%;
}

.tak-board-1 .piece-topper {
	position: absolute;
	width: calc(100% - (25% * 2));
	height: calc(100% - (25% * 2));
}

.tak-board-1 .piece-topper-border {
	position: absolute;
	width: calc(100% - (25% * 2) + (2px * 2));
	height: calc(100% - (25% * 2) + (2px * 2));
}

.tak-board-1 .piece-topper.owned-by-o {
	border-color: #FF851B;
}

.tak-board-1 .piece-topper.owned-by-x {
	border-color: #001F3F;
}

.tak-board-1 .circle {
	border-radius: 50%;
	border: 10px solid;
	left: 25%;
	top: 25%;
	margin-top: -10px;
	margin-left: -10px;
}

.tak-board-1 .circle-border {
	border-radius: 50%;
	border: calc(10px + 2px) solid white;
	left: calc(25% - 2px);
	top: calc(25% - 2px);
	margin-top: calc(-10px - 2px);
	margin-left: calc(-10px - 2px);
}

.tak-board-1 .square {
	border: 10px solid;
	left: 25%;
	top: 25%;
	margin-top: -10px;
	margin-left: -10px;
}

.tak-board-1 .square-border {
	border: calc(10px + 2px) solid white;
	left: calc(25% - 2px);
	top: calc(25% - 2px);
	margin-top: calc(-10px - 2px);
	margin-left: calc(-10px - 2px);
}
